{{define "base"}}
    <!doctype html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

            <title>
                {{block "title" .}}
                
                {{end}}
            </title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
            
        </head>
        <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">&nbsp;</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/widget/1">Buy one widget</a>
                        <a class="dropdown-item" href="/plans/bronze">Subscription</a>
                    </div>
                </li>
                <li class="nav-item  d-none" id="virtual-terminal-link" >
                    <a class="nav-link" href="/virtual-terminal">Virtual Terminal</a>
                </li>
                <li class="nav-item dropdown d-none" id="admin-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/admin/virtual-terminal">Virtual Terminal</a>
                        <a class="dropdown-item" href="/admin/all-sales">All Sales</a>
                        <a class="dropdown-item" href="/admin/all-subscriptions">All Subscriptions</a>
                        <a class="dropdown-item" onclick="logout()" href="#!">Logout</a>

                    </div>
                </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item d-none" id="logout-link">
                        <a class="nav-link" onclick="logout()" href="#!">Logout</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item d-none" id="login-link">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col">
                        {{block "content" .}}
                        
                        {{end}}
                    </div>
                </div>
            </div>
            <script>
                let logginLink = document.getElementById("login-link");
                let virtualTerminalLink = document.getElementById("virtual-terminal-link");
                let adminDropdown = document.getElementById("admin-dropdown");
                let logoutLink = document.getElementById("logout-link");
                let loginLink = document.getElementById("login-link");

                document.addEventListener("DOMContentLoaded", function() {
                    if(localStorage.getItem("token")!== null) {
                        {{/* logginLink.innerHTML = '<a class="nav-link" onclick="logout()" href="#!">Logout</a>';
                        virtualTerminalLink.classList.remove("d-none"); */}}
                        adminDropdown.classList.remove("d-none");
                        logoutLink.classList.remove("d-none");
                    } else {
                        {{/* logginLink.innerHTML = '<a class="nav-link" href="/login">Login</a>'; */}}
                        loginLink.classList.remove("d-none");
                    }
                });
                function logout() {
                    localStorage.removeItem("token");
                    localStorage.removeItem("token_expiry");
                   location.href = "/login";
                }
                function checkAuth(){
                    if(localStorage.getItem("token")== null) {
                        location.href = "/login";
                        return true;
                    } else {
                       let token = localStorage.getItem("token");
                       const myHeaders = new Headers();
                       myHeaders.append("Authorization", "Bearer " + token);
                       myHeaders.append("Content-Type", "application/json");
                        const requestOptions = {
                            method: 'POST',
                            headers: myHeaders,
                        };
                        debugger;
                        fetch("{{.API}}/api/is-authenticated", requestOptions)
                            .then(response => response.json())
                            .then(result => {
                                if(result.error) {
                                   console.log('error', result.message);
                                   location.href = "/login";
                                }else{
                                    
                                    console.log('success', result.message);
                                }
                            })
                            .catch(error => {
                                console.log('error', error);
                                logout();
                        });
                    }
                }
            </script>
            {{block "js" .}}
            
            {{end}}

        </body>
    </html>
{{end}}