{{template "base" .}}

{{define "title"}}
    Buy Once
{{end}}

{{define "content"}}

<h2 class="text-2xl font-bold mb-4">Buy Once</h2>

<hr>
<img src="/static/widget.png" alt="Widget" class="w-64 mb-4 image-fluid rounded mx-auto d-block">

{{end}}