{{template "base" .}}
{{define "title"}}
    Forgot Password
{{end}}
{{define "content"}}
    <div class="alert alert-danger text-center d-none" role="alert" id="login-messages"></div>

        <form method="POST" action="" class="w-50 needs-validation " id="forgot-password-form" novalidate="novalidate" autocomplete="off">
        
            <h2 class="text-xl font-bold mb-2 text-center">Forgot Password</h2> 
            <hr>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="e.g., john.doe@example.com" required>
            </div>
            <hr>
            <button type="button" class="btn btn-primary w-100" onclick="val()">Login</button>
        </form>
{{end}}
