{{template "base" .}}
{{define "title"}}
    Reset Password
{{end}}
{{define "content"}}
    <div class="alert alert-danger text-center d-none" role="alert" id="reset-password-messages"></div>

        <form method="POST" action="" class="w-50 needs-validation " id="reset-password-form" novalidate="novalidate" autocomplete="off">
        
            <h2 class="text-xl font-bold mb-2 text-center">Reset Password</h2> 
            <hr>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
                <label for="verify-password" class="form-label">Verify Password</label>
                <input type="password" class="form-control" id="verify-password" name="verify-password" required>
            </div>
            <hr>
            <button type="button" class="btn btn-primary w-100" onclick="resetPassword()">Reset Password</button>
        </form>
{{end}}

{{define "js"}}
    <script>
        function showError(message) {
            let resetPasswordMessages = document.getElementById('reset-password-messages');
            resetPasswordMessages.classList.add('alert-danger');
            resetPasswordMessages.classList.remove('alert-success');
            resetPasswordMessages.textContent = message;
            resetPasswordMessages.classList.remove('d-none');
        }
        function showSuccess() {
            let resetPasswordMessages = document.getElementById('reset-password-messages');
            resetPasswordMessages.classList.add('alert-success');
            resetPasswordMessages.classList.remove('alert-danger');
            resetPasswordMessages.textContent = 'Password reset successfully!';
            resetPasswordMessages.classList.remove('d-none');
        }
        function resetPassword() {
            let form = document.getElementById('reset-password-form');
            if(form.checkValidity() === false) {
                form.classList.add('was-validated');
                return;
            }
            form.classList.remove('was-validated');

            if(document.getElementById('password').value !== document.getElementById('verify-password').value) {
                showError("Passwords do not match!");
                return;
            }

            let payload = {
                password: document.getElementById('password').value,
                email: "{{index .Data "email"}}",
            };
            const requestOptions = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                },
                body: JSON.stringify(payload)
            };
            fetch("{{.API}}/api/reset-password", requestOptions)
                .then(response => response.json())
                .then(response => {
                    console.log(response);
                    if((response.error) == false) {
                        showSuccess();
                        setTimeout(() => {
                            location.href = "/login";
                        }, 2000);
                    } else {
                        showError(response.message);
                    }
                })
        }
    </script>
{{end}}