{{template "base" .}}

{{define "title"}}
    Payment Succeeded
{{end}}

{{define "content"}}
    <h2 class="mt-3 text-center">Payment Succeeded</h2>
    <hr>
   <p>Payment Intent :{{index .Data "pi"}}</p>
   <p>Card Holder :{{index .Data "cardHolder"}}</p>
   <p>Email :{{index .Data "email"}}</p>
   <p>Payment Method :{{index .Data "pm"}}</p>
   <p>Payment Amount :{{index .Data "pa"}}</p>
   <p>Payment Currency :{{index .Data "pc"}}</p>

{{end}}