{{define "body"}}
Hello :
<p>To reset your password, please click the link below:</p>
<p><a href="{{.Link}}">{{.Link}}</a></p>
<p>If you did not request a password reset, please ignore this email.</p>
{{end}}